<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;;AttachDbFilename=D:\Dysk Google\Projekty\C#\Menadzer Zespołów\Menadzer Zespołów\MenadzerZespolowDB.mdf;Integrated Security=True;Connect Timeout=5;App=EntityFramework"/>
  </connectionStrings>
</configuration>